{% extends 'base.twig' %}

{% block content %}
	<ul class="nav nav-tabs nav-stacked">
		{% for element in statuses %}
			<li>
				<a href="/status/{{ element.code }}">
					<span class="label label-{{ element.class.name|parseType }}">{{ element.code }}</span> <small>{{ element.message }}</small>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}